<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Super Insecure Website!</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.css"></link>
</head><body>

<h1>User: <span th:text="${userInfo.username}">username</span></h1>
<p>E-Mail: <span th:text="${userInfo.email}"></span></p>
<p>Bank Balance: <span th:text="${userInfo.bankBalance}"></span></p>
<p>Admin Note: <span th:text="${userInfo.adminNote}"></span></p>
</body>
</html>